.logo{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo--dark{
    background-image: url('../../assets/images/logo-mobile-modo-noct.svg');
}

.logo--light{
    background-image: url('../../assets/images/logo-desktop.svg');
}

@media (max-width:767px){
    .logo{
        width: 40px;
        height: 40px;
    }
}

