.result{
    text-align: center;
}

.subtitle--dark{
    color: white;
}

.subtitle--light{
    color: #572EE5;
}

.gif__container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px;
    gap: 15px;
}

.gif__container--light{
    background-color: #E7E7E7;
}

.gif__container--dark{
    background-color: #212121;
}
.gif__link{
    width: 32%;
    cursor: pointer;
}

.gif__image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
