.app{
  max-width: 100%;
  margin: 0 auto;
}

.app--light{
  background-color: #fff;
}

.app--dark{
  background-color: #373737;
}

.container{
  max-width: 70%;
  margin: 0 auto;
}


@media (max-width:767px){
  .container{
    max-width: 90%;
  }
}